<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dec7d290de.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/inicio-administrador.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <title>Administrador</title>
</head>

<div class="contenedor">
    <header class="cabecera"><img class="cabecera__img" src="/images/logocafe.png" alt=""></header>
    <section class="contenidoAdmin">
        <h1 class="contenidoAdmin__titulo">Hola Nombre</h1>
        <div class="contenidoAdmin__opciones">
            <div class="contenidoAdmin__opciones__caja"><img class="contenidoAdmin__opciones__caja__img" src="/images/Usuarios.png" alt=""><button class="contenidoAdmin__opciones__caja__btn" id="btnAdministrarUsuarios">Administrar Usuarios</button></div>
            <div class="contenidoAdmin__opciones__caja"><img class="contenidoAdmin__opciones__caja__img" src="/images/Inventario2.png" alt=""><button class="contenidoAdmin__opciones__caja__btn" id="btnAdministrarProductos">Administrar Productos</button></div>
        </div>
    </section>
    <div class="contenedorAdminProducto" hidden="">
        <div class="contenedorAdminProducto__busqueda"><input class="contenedorAdminProducto__input" type="text" placeholder="Articulo"><button class="contenedorAdminProducto__bntBuscar"><i class="fas fa-search"></i></button><button class="contenedorAdminProducto__bntAgregarProducto">Agregar Producto <i class="fas fa-plus-circle"></i></button></div>
        <div class="contenedorAdminProducto__encontrados"></div>
    </div>
    
    <div class="contenedorAdminUsuario" hidden="">
        <div class="contenedorAdminUsuario_caja"> <form class="contenedorAdminUsuario__busqueda" action="" method="GET"><input class="contenedorAdminUsuario__input" type="text" placeholder="Usuario" name="valor"><button class="contenedorAdminUsuario__bntBuscar" type="submit"><i class="fas fa-search"></i></button></form><button class="contenedorAdminUsuario__bntAgregarUsuario">Agregar Usuario <i class="fas fa-plus-circle"></i></button></div>
       
        <div class="contenedorAdminUsuario__encontrados">
            <table>
                <thead>
                    <tr>
                        <th>Nombre </th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Acci&oacute;n</th>
                    </tr>
                </thead>
                <tbody>

                    <% for(let dato in arrayFilas){ %>
                    <tr>
                        <td> <%= arrayFilas[dato].nombre %></td>
                        <td> <%= arrayFilas[dato].correo %></td>
                        <% if(arrayFilas[dato].rol == 1){%>
                        <td>Administrador</td>
                        <% } else{%>
                        <td>Usuario</td>
                        <% } %>
                        <td> <a href=""> Editar-Eliminar </a></td>
                    </tr>
                    <% } %>

                </tbody>
            </table>
        </div>
    </div>
    <div class="registro-producto" hidden="">
        <form class="registro-producto__form" action="">
            <h1 class="registro-producto__form__titulo">Registro de Producto</h1><input class="registro-producto__form__input" type="text" name="" placeholder="Nombre del Producto"><input class="registro-producto__form__input" type="text" name="" placeholder="Descripción del Producto"><input class="registro-producto__form__input" type="number" name="" placeholder="Stock del Producto"> Seleccione Imagen<input type="file" name="" id=""><button class="registro-producto__form__btnRegistrar" type="submit">Registrar <i class="fas fa-plus-square"></i></button>
        </form>
    </div>
    <div class="registro-usuario" hidden="">
        <form class="registro-usuario__form" action="/registrarUsuario" method="POST">
            <h1 class="registro-usuario__form__titulo">Registro de Usuario</h1><input class="registro-usuario__form__input" type="text" name="name" placeholder="Nombre del Usuario"><input class="registro-usuario__form__input" type="text" name="email" placeholder="Correo del Usuario"><input class="registro-usuario__form__input" type="password" name="pass" placeholder="Contraseña"><select name="rol" id="">
                <option value="Admin">Administrador</option>
                <option value="User">Usuario</option>
            </select><button class="registro-usuario__form__btnRegistrar" type="submit">Registrar <i class="fas fa-plus-square"></i></button>
        </form>
    </div>
    <footer>
        <p>Luis Miguel Hamburger Meza - Desarrollador de p&aacute;ginas web <br> &copy; 2021</p>
    </footer>
</div>
<script>
    const btnAdministrarProducto = document.getElementById("btnAdministrarProductos");
    const btnAdministrarUsuarios = document.getElementById("btnAdministrarUsuarios");
    const contenedorAdminProducto = document.querySelector(".contenedorAdminProducto");
    const contenedorAdminUsuario = document.querySelector(".contenedorAdminUsuario");
    const contenidoAdmin__opciones = document.querySelector(".contenidoAdmin__opciones");
    const contenidoAdmin = document.querySelector(".contenidoAdmin");
    btnAdministrarProducto.addEventListener("click", () => {
        contenidoAdmin__opciones.classList.add("fadeOut");

        function desaparecer() {
            contenidoAdmin.setAttribute("hidden", "true");
            contenedorAdminProducto.removeAttribute("hidden");
        }
        setTimeout(desaparecer, 1000);
    });
    btnAdministrarUsuarios.addEventListener("click", () => {
        contenidoAdmin__opciones.classList.add("fadeOut");

        function desaparecer() {
            contenidoAdmin.setAttribute("hidden", "true");
            contenedorAdminUsuario.removeAttribute("hidden");
        }
        setTimeout(desaparecer, 1000);
    });
    const btnAgregarProducto = document.querySelector(".contenedorAdminProducto__bntAgregarProducto");
    const btnAgregarUsuario = document.querySelector(".contenedorAdminUsuario__bntAgregarUsuario");
    const registroProducto = document.querySelector(".registro-producto");
    const registroUsuario = document.querySelector(".registro-usuario");
    const contenedorAdminProducto__busqueda = document.querySelector(".contenedorAdminProducto__busqueda");
    const contenedorAdminUsuario__busqueda = document.querySelector(".contenedorAdminUsuario__busqueda");
    contenedorAdminProducto__busqueda
    btnAgregarProducto.addEventListener("click", () => {
        contenedorAdminProducto__busqueda.classList.add("fadeOut");

        function desaparecer2() {
            contenedorAdminProducto.setAttribute("hidden", "true");
            registroProducto.removeAttribute("hidden");
        }
        setTimeout(desaparecer2, 1000);
    });
    btnAgregarUsuario.addEventListener("click", () => {
        contenedorAdminUsuario__busqueda.classList.add("fadeOut");

        function desaparecer2() {
            contenedorAdminUsuario.setAttribute("hidden", "true");
            registroUsuario.removeAttribute("hidden");
        }
        setTimeout(desaparecer2, 1000);
    });
</script>