<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dec7d290de.js" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/stylesheets/inicio-administrador.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <title>Editar Usuario</title>
</head>

<div class="contenedor">
    <header class="cabecera"><img class="cabecera__img" src="/images/logocafe.png" alt=""></header>
   

    <div class="registro-usuario" >
       |    <% let nom = elemento.nombre %>
            <% let corr = elemento.correo %>
            <% let roll = elemento.rol %>            
            <% refA = "/actualizarU/"+elemento.id  %>

        <aside class="col-sm-4" >
            <div class="card cuerpo2__formSesion">
            <article class="card-body">
                <h4 class="card-title text-center mb-4 mt-1" style="font-size: 35px;">Actualizar</h4>
                <hr>
                <form  method="POST" class="" action=<%=refA%>>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                            </div>
                        <input name="name" class="form-control" placeholder="Nombre completo" type="text" required value=<%=nom%> >
                    </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-envelope"></i></i> </span>
                     </div>
                    <input name="email" class="form-control" placeholder="Correo Electronico / Email" type="email" value=<%=corr%> required>
                </div> <!-- input-group.// -->
                </div> <!-- form-group// -->
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-male"></i></span>
                         </div>
                         <select class="form-control" aria-label="Default select example" name="rol" value=<%=roll%>>
                            <option value="Admin">Administrador</option>
                            <option value="User">Usuario</option>
                          </select>
                    </div> <!-- input-group.// -->
                    </div> <!-- form-group// -->
                <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block" style="background-color: #CBAF89 !important; color: black;"> Actualizar </button>
                </div> <!-- form-group// -->
                <p class="text-center" style="color: #4f1f0f !important;" >Al actualizar recae sobre usted la responsabilidad de los datos proporcionados.</p>
                </form>
            </article>
            </div> <!-- card.// -->
                </aside> <!-- col.// -->
    </div>
    <footer>
        <p>Luis Miguel Hamburger Meza - Desarrollador de p&aacute;ginas web <br> &copy; 2021</p>
    </footer>
</div>

