<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dec7d290de.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/inicio-administrador.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <title>Administrador</title>
</head>

<div class="contenedor">
    <header class="cabecera"><img class="cabecera__img" src="/images/logocafe.png" alt=""></header>
    <section class="contenidoAdmin">
        <h1 class="contenidoAdmin__titulo">Hola</h1>
        <h2 class="contenidoAdmin__titulo"><%=nom%></h2>
        <div class="contenidoAdmin__opciones">

            <div class="contenidoAdmin__opciones__caja">
                <img class="contenidoAdmin__opciones__caja__img" src="/images/Usuarios.png" alt="">
               <a href="/leerUsuarios"><button class="contenidoAdmin__opciones__caja__btn" id="btnAdministrarUsuarios">Administrar Usuarios</button></a> 
            </div>

            <div class="contenidoAdmin__opciones__caja">
                <img class="contenidoAdmin__opciones__caja__img" src="/images/Inventario2.png" alt="">
               <a href="/leerProductos"><button class="contenidoAdmin__opciones__caja__btn" id="btnAdministrarProductos">Administrar Productos</button></a> 
            </div>
        </div>
   </section>
    <footer>
        <p>Luis Miguel Hamburger Meza - Desarrollador de p&aacute;ginas web <br> &copy; 2021</p>
    </footer>
</div>
<script>
    const btnAdministrarProducto = document.getElementById("btnAdministrarProductos");
    const btnAdministrarUsuarios = document.getElementById("btnAdministrarUsuarios");
    btnAdministrarUsuarios.addEventListener("click", ()=>{
    });
</script>