<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dec7d290de.js" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="/stylesheets/inicio-administrador.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <title>Gestionar Usuarios</title>
</head>

<div class="contenedor">
    <header class="cabecera"><img class="cabecera__img" src="/images/logocafe.png" alt=""></header>
    
    
    <div class="contenedorAdminUsuario">

        <div class="contenedorAdminUsuario__busqueda"  style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

            <form class="input-group" method="GET" action="/buscarUsuarios" style="display: flex; justify-content: center; align-items: center;">
                <div class="form-outline">
                  <input type="text"  name="valorBuscar"  class="form-control" placeholder="Buscar Usuario" style=" width: 80vw; height: 2.5em;" />
                </div>
                <button type="submit" class="btn btn-primary" ><i class="fas fa-search"></i></button>
            </form>
              <a href="/nuevoUsuario"><button type="button" class="btn btn-primary">Agregar</button></a>
        </div>

        
        <div class="contenedorAdminUsuario__encontrados">
            <table>
                <thead>
                    <tr >
                        <th>Nombre</th>
                        <th>Acci&oacute;n</th>
                    </tr>
                </thead>
                <tbody>

                    <% for(let dato in arrayFilas){ %>
                    <tr>
                        <td> <%= arrayFilas[dato].nombre %></td>
                        <%  refA = "/actualizarUsuario/"+arrayFilas[dato].id %>
                        <% refE = "/eliminarUsuario/"+arrayFilas[dato].id %>
                        <td> <a   class="btn btn-primary" style="border: 1px solid black; margin: 2px 0 2px 0;" href=<%=refA%>>Editar</a>
                            <a  class="btn btn-primary" style="border: 1px solid black;" href=<%=refE%> >Eliminar</a></td>
                    </tr>
                    <% } %>
 
                </tbody>
           </table>
        </div>
    </div>

    
    
    <footer>
        <p>Luis Miguel Hamburger Meza - Desarrollador de p&aacute;ginas web <br> &copy; 2021</p>
    </footer>
</div>
