<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dec7d290de.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/inicio-administrador.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Slabo+27px&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <title>Registrar Producto</title>
</head>

<div class="contenedor">
    <header class="cabecera"><img class="cabecera__img" src="/images/logocafe.png" alt=""></header>
   

    <div class="registro-producto" >
        <form class="registro-producto__form" action="/crearUsuario" method="POST">
            <h1 class="registro-producto__form__titulo">Registro de Usuario</h1>
            <input class="registro-producto__form__input" type="text" name="nameProducto" placeholder="Nombre del Producto" required>
            <input class="registro-producto__form__input" type="number" name="stock" placeholder="Inventario Disponible" required>
            <input class="registro-producto__form__input" type="file" name="imgSrc" required>
            <button class="registro-producto__form__btnRegistrar" type="submit">Registrar<i class="fas fa-plus-square"></i></button>
        </form>
    </div>
    <footer>
        <p>Luis Miguel Hamburger Meza - Desarrollador de p&aacute;ginas web <br> &copy; 2021</p>
    </footer>
</div>
